@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
body {
  overflow-x: hidden;
}

/*======= NAVIGATION =========*/
.navbar {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffce2c;
}
.navbar-toggler {
  padding: 0;
  border: none;
  background: none;
}

/*======= HERO =========*/
#home {
  background: url(images/Hero.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  height: 100vh;
}
#home::before {
  background: rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.landing-text {
  position: absolute;
  top: 50%;
  padding-right: 50%;
}
.hero-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

/*======= PLAN YOUR RIDE SECTION =========*/
.padding-ride {
  padding: 20px 0;
}
.padding-ride img {
  width: 100%;
}
.ride-header {
  padding-top: 50px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.ride-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

/*======== BUTTON ========*/
.button {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 8px 15px;
  border-radius: 2px;
  background-color: #000000;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #ffc400;
  color: #ffffff;
  text-decoration: none;
}
.button.button-main:hover {
  color: #ffffff;
}

/*======== FIXED IMAGE =========*/

.all-title-box {
  background: url("images/fixed-image.jpg") no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  padding: 130px 0px;
  position: relative;
}
.all-title-box::before {
  background: rgba(0, 0, 0, 0.3);
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.all-title-box h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  float: left;
  padding: 10px 0px;
}
.blockquote {
  color: #ffffff;
  font-size: 30px;
}

/*======= PLAN YOUR RIDE SECTION =========*/
.padding-drive {
  padding: 20px 0;
}
.padding-drive img {
  width: 100%;
}
.drive-header {
  padding-top: 50px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.drive-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

/*============ SOCKET ===============*/
.socket {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #222222;
  border-top: 0.2rem solid #ffc400;

  font-size: 0.9rem;
  font-weight: 400;
}

/*======== MEDIA QUERIES =========*/
@media (max-width: 770px) {
  .hero-header {
    font-size: 35px;
  }
}

@media (max-width: 576px) {
  .hero-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
  }
}
